.u-section-1 .u-sheet-1 {
  min-height: 634px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 387px;
  margin: 65px 765px 0 13px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 387px;
  margin: -387px 18px 0 760px;
}

.u-section-1 .u-custom-html-3 {
  min-height: 387px;
  width: 362px;
  margin: -387px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 32px 537px 0 538px;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 5px auto 60px 554px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-top: 30px;
    margin-right: 578px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    margin-top: 0;
    margin-right: 306px;
    margin-left: 273px;
  }

  .u-section-1 .u-custom-html-3 {
    height: auto;
    margin-top: -774px;
    margin-right: 0;
    margin-left: 578px;
  }

  .u-section-1 .u-text-1 {
    width: 65px;
    margin-top: 474px;
    margin-left: 438px;
    margin-right: 437px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 0;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 358px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 196px;
    margin-left: 163px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 328px;
    margin-right: 327px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-bottom: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 362px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-2 {
    width: 362px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: 21px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 21px;
    margin-left: 238px;
    margin-right: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: 413px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: -1187px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 898px;
    margin-right: 137px;
    margin-left: 138px;
  }
}