.u-section-1 .u-sheet-1 {
  min-height: 713px;
}

.u-section-1 .u-image-1 {
  width: 449px;
  height: 426px;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.45);
  margin: 71px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 30px 60px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 41px;
  min-height: 16px;
  width: 429px;
  min-width: 233px;
  white-space: nowrap;
  margin: 30px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(33, 33, 33) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-6 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-7 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-8 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 387px;
  }
}